.upload-form-dark {
    height: 100vh;
    height: 100vh;
    background: black url(../images/background.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.upload-form-dark form {
    max-width: 440px;
    min-width: 440px;
    width: 90%;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 40%;
    left: 50%;
    color: #e5e5e5;
    box-shadow: 0px -1px 2px 2px #818181;
    background-color: transparent;
}

.upload-form-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

.btn-group-lg > .btn, .btn-lg:hover {
    color: black;
    cursor: pointer;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.modal-backdrop {
    opacity: 0.8 !important;
}

.modal-header, .modal-footer {
    border: none;
}

.modal-content {
    background-color: #272b33;
    color: white;
    width: 90%;
    max-width: 600px;
}

.modal-btn {
    border-color: white;
    background-color: #000000;
    color: #ffffff;
}

.modal-btn:hover {
    background-color: #333333;
    cursor: pointer;
    border-color: white;
}

.close {
    color: white;
}

.close:hover {
    color: white;
    cursor: pointer;
}