body {
    background-color: black;
}

.table-dark, .table-dark > td, .table-dark > th {
    background-color: #494949;
    color: white;
    border: 3px red;
}

.page-link {
    margin-top: -4px;
    margin-left: auto;
    color: #dedede;
    background-color: #343434;
}

.page-item.disabled .page-link {
    color: #868e96;
    background-color: #494949;
    border-color: #ddd;
}

.active > .page-link, .page-link.active {
    border-color: white;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border: 2px solid #e9ecef;
}

a {
    color: #fff;
}

.btn-group-lg > .btn, .btn-lg:hover {
    color: black;
    cursor: pointer;
}

@media (max-width: 576px) {
    .card {
        margin: 0 10px;
    }
    .table-responsive {
        overflow-x: auto;
    }
    .table th, .table td {
        white-space: nowrap;
    }
    .card-footer {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .pagination-container {
        width: 100%;
    }
    .pagination-container .pagination {
        justify-content: center;
    }
}