<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>InstaUnFollowers</title>
    <meta name="description" content="Find out who is not following you back on Instagram.">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap4.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <script async defer src="{{ url_for('static', filename='js/buttons.js') }}"></script>
</head>
<body>
<div class="upload-form-dark">
    <div class="mx-auto pt-5" style="width:270px; border: 2px white">
        <a class="github-button" href="https://github.com/aviolaris"
           data-color-scheme="dark_high_contrast"
           data-size="large"
           data-show-count="true"
           aria-label="Follow @aviolaris on GitHub">Follow @aviolaris</a>
        <a class="github-button" href="https://github.com/aviolaris/instaunfollowers"
           data-color-scheme="dark_high_contrast"
           data-icon="octicon-star"
           data-size="large"
           data-show-count="true"
           aria-label="Star aviolaris/instaunfollowers on GitHub">Star</a>
    </div>
    <form class="d-flex justify-content-center form-inline my-2 my-lg-0" action="/" method="POST"
          enctype="multipart/form-data">
        <h5 style="padding-bottom: 20px;">Upload your instagram information file.</h5>
        <input class="form-control form-control-lg" type="file" name="file" placeholder="Search">
        <input type="submit" class="btn-lg btn-outline-light mt-4" value="Upload">
    </form>
</div>
</body>
</html>